main .header-box{
    padding:10px 0;
}
main .empty{
    width:209px;
    height:455px;
    display:inline-block;
    visibility: hidden;
}
main .middle-box{
    display: inline-block;
    width:721px;
    height:455px;
}
main .middle-box img{
    width:721px;
    height:455px;
}
main .right-box{
    display: inline-block;
    width:250px;
    height:455px;
    outline: 1px solid red;
    margin-left:10px;
}
main .right-box .top{
    width:100%;
    height:165px;
}
main .right-box .bottom{
    width:100%;
    height:290px;
    background-color: pink;
}
main .recommend{
    width:1200px;
    height:163px;
    background-color: #ebebeb;
}
main .recommend-left{
    width:200px;
    height:100%;
    float:left;
    background-color: rgb(92, 82, 81);
    background-image:url('../images/recom.png');
    background-position: center;
    background-repeat:no-repeat;
}

main .recommend-right{
    width:1000px;
    float:left;
}
main ul:after{
    content:'';
    clear:both;
    display:block;
}
main .recommend li{
    width:250px;
    height:163px;
    float:left;
}
main div[class^='shopping-box']{
    margin-top:20px;
    margin-bottom:15px;
}
main div[class^='shopping-box'] .top{
    font-size:14px;
    height:30px;
    line-height: 30px;
    padding:0 10px;
}
main div[class^='shopping-box'] .bottom{
    border: solid 1px #ededed;
}
main div[class^='shopping-box'] .top .right{
    font-size:12px;
}
main div[class^='shopping-box'] .top .right li{
    float:left;
}
main div[class^='shopping-box'] .top .right li:hover{
    color:red;
}
main div[class^='shopping-box'] .top .right li:nth-of-type(n+2)::before{
    content:'|';
    font-size:12px;
    margin:0 7px;
}
main .guess-like{
    height:280px;
}
main .guess-like .bottom{
    height:235px;
    padding:20px 20px 10px;
}
main .shopping-box .bottom .content{
    float:left;
    background-color: rgb(235, 235, 235);
}
main .shopping-box .bottom .content img{
    width:193px;
    height:100%;
}
main .shopping-box .bottom .content .description{
    width:193px;
    text-align: center;
    padding:0px 40px 0px 30px;
    font-size:12px;
    line-height: 21px;
}
main .shopping-box .bottom .content .price{
    margin-top:5px;
    margin-bottom:5px;
}
main .shopping-box .bottom .content .price{
    font-size:18px;
    color:#df3033;
    line-height:21px;
}
main .shopping-box .bottom .content:nth-child(n+2) .description{
    border-left:1px solid #b1afaf;
    /* border-left:1px solid red; */
}

main .shopping-box2{
    height:430px;
    margin-top:20px;
    margin-bottom:15px;
    outline:1px solid red;
}
main .shopping-box2 .top{
    height:30px;
    outline: 1px solid red;
}
main .shopping-box2 .bottom{
    height:400px;
    /* outline: 1px solid red; */
}
main .shopping-box2 img{
    float:left;
}
.shopping-box2 img:nth-of-type(1){
    width:399px;
    height:400px;
}
main .shopping-box2 img:nth-of-type(2){
    width:160px;
    /* height:400px; */
}
main .shopping-box2 img:nth-of-type(3){
    width:80px;
    /* height:400px; */
}
main .shopping-box2 img:nth-of-type(n+4){
    width:80px;
    /* height:400px; */
}
main .shopping-box3{
    height:390px;
    margin-top:20px;
    margin-bottom:15px;
    outline:1px solid red;
}
main .shopping-box3 .top{
    height:30px;
    outline: 1px solid red;
}
main .shopping-box3 .bottom{
    height:360px;
    outline: 1px solid red;
}
main .shopping-box3 .bottom div{
    float:left;
    /* outline:1px solid red; */
}
main .shopping-box3 .bottom div:nth-of-type(n+3){
    width:227px;
    height:180px;
}
main .shopping-box4{
    height:65px;
    outline: 1px solid black;
}

main .shopping-box4 li{
    float:left;
    /* width:120px;
    height:100%; */
}
main .shopping-box4 li>img{
    width:120px;
    height:65px;
}