/* 轮播 主盒子 */
main .header-box{
    padding:10px 0;
}
main .empty{
    width:209px;
    height:455px;
    display:inline-block;
    visibility: hidden;
}
main .middle-box{
    display: inline-block;
    width:721px;
    height:455px;
    /* vertical-align: top; */
}
main .middle-box img{
    width:721px;
    height:455px;
}
main .right-box{
    vertical-align: top;
    display: inline-block;
    width:250px;
    height:455px;
    margin-left:10px;
    padding:10px;
}
main .right-box .top{
    width:100%;
    height:165px;
}
main .right-box .top .header{
    font-size:14px;
    line-height: 35px;
}
main .right-box .top .content{
    font-size:13px;
    height:126px;
}
main .right-box .top .content p{
    height:25px;
    line-height: 25px;
}
main .right-box .bottom{
    width:100%;
    height:270px;
}
main .right-box .bottom li{
    width: 57.4px;
    height:60px;
    float:left;
    background-image: url('../images/icons.png');
}
main .right-box .bottom li{
    border:1px solid rgb(232, 232, 231);
}
main .right-box .bottom img{
    width:100%;
    height:89px;
}
/* 主盒子 */


/* 推荐模块 */
main .recommend{
    width:1200px;
    height:163px;
    background-color: #ebebeb;
}
main .recommend-left{
    width:200px;
    height:100%;
    float:left;
    background-color: rgb(92, 82, 81);
    background-image:url('../images/recom.png');
    background-position: center;
    background-repeat:no-repeat;
}

main .recommend-right{
    width:1000px;
    float:left;
}
main ul:after{
    content:'';
    clear:both;
    display:block;
}
main .recommend li{
    width:250px;
    height:163px;
    float:left;
}
/* 推荐模块 */


/* 公共样式 */
main div[class^='shopping-box']{
    margin-top:20px;
    margin-bottom:20px;
}
main div[class^='shopping-box'] .top{
    font-size:14px;
    height:30px;
    line-height: 30px;
    padding:0 10px;
}
main div[class^='shopping-box'] .bottom{
    border: solid 1px #ededed;
}
main div[class^='shopping-box'] .bottom::after{
    content:'';
    display: block;
    clear:both;
}
main div[class^='shopping-box'] .top .right{
    font-size:12px;
}
main div[class^='shopping-box'] .top .right li{
    float:left;
}
main div[class^='shopping-box'] .top .right li:hover{
    color:red;
}
main div[class^='shopping-box'] .top .right li:nth-of-type(n+2)::before{
    content:'|';
    font-size:12px;
    margin:0 7px;
}
main .common-box{
    height:400px;
}
main .common-box .bottom div{
    float:left;
}
main .common-box .bottom div:nth-of-type(n+3){
    width:227px;
    height:180px;
}
main .common-box .bottom div:nth-of-type(n+3) img{
    width:227px;
    height:180px;
}
/* 公共样式 */

/* 爱好猜测样式 */
main .guess-like{
    height:280px;
}
main .guess-like .bottom{
    height:235px;
    padding:20px 20px 10px;
}
main .guess-like .bottom .content{
    float:left;
    background-color: rgb(235, 235, 235);
}
main .guess-like .bottom .content img{
    width:193px;
    height:100%;
}
main .guess-like .bottom .content .description{
    width:193px;
    text-align: center;
    padding:0px 40px 0px 30px;
    font-size:12px;
    line-height: 21px;
}
main .guess-like .bottom .content .price{
    margin-top:5px;
    margin-bottom:5px;
    font-size:18px;
    color:#df3033;
    line-height:21px;
}
main .guess-like .bottom .content:nth-child(n+2) .description{
    border-left:1px solid #b1afaf;
}
/* 猜测爱好 */


/* 兴趣商品模块 */
main .interest{
    height:430px;
}
main .interest .top{
    height:30px;
}
main .interest .bottom{
    height:400px;
}
main .interest img{
    float:left;
}
main .interest img:nth-of-type(1){
    width:399px;
    height:400px;
}
main .interest img:nth-of-type(2){
    width:160px;
}
main .interest img:nth-of-type(n+3){
    width:80px;
}
/* 兴趣商品模块 */


/* 商标模块 */
main .brand{
    margin-top:20px;
    margin-bottom:20px;
    height:65px;
}
main .brand li{
    float:left;
}
main .brand li>img{
    width:120px;
    height:65px;
}
/* 商标模块 */


/* 家电模块 */
main .appliance{
    height:390px;
}
main .appliance .bottom{
    height:360px;
}
main .appliance .bottom div{
    float:left;
}
main .appliance .bottom div:nth-of-type(1) img{
    width:210px;
    height:360px;
}
main .appliance .bottom div:nth-of-type(2) img{
    width:330px;
    height:360px;
}
main .appliance .bottom div:nth-of-type(n+3){
    width:219px;
    height:180px;
}
/* 家电模块 */